@media screen and (max-width: 768px) {
    .row {
        max-width: 700px;
    }
}
@media screen and (max-width: 480px) {
    body {
        font-size: 8px;
    }
    .row {
        max-width: 360px;
    }
    .grid-iteam-container {
    grid-template-columns: 1fr 1fr 1fr;
    
}
    .grid-why-container {
        grid-template-columns: 1fr;
    }
    .grid-fotter-container {
        grid-template-columns: 1fr 1fr;

    }
}
@media screen and (max-width: 360px) {
    body {
        font-size: 7px;
    }
    .row {
        max-width: 300px;
    }
}